* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#cabecalho {
  position: sticky;
  top: 0;
  background-color: #3523A9;
  top: 0;
  height: 80px;
  text-align: center;
}

#titulo {
  color: whitesmoke;
  margin: 0;
  position: relative;
  top: 25%;
}

body {
  background-color: rgb(253, 251, 251);
}

